
body{
background-color: #000000;
padding:5px 15px 5px 15px;

}
div.container{
    margin-top: -1px;
    background-color: rgb(37, 37, 37)l;


}
.container a{
    margin-bottom: 5px;
}
.header_color {
    background-color: rgb(37, 37, 37);
    text-align-last: center;
   border-radius: 10px;
   width: 60%;
 margin:auto
}
.header_color h3{
    color: #ffffff;
}

.header_color:hover {
    background-color: rgb(37, 37, 37);
}
.well{
border-radius: 5px;
margin:auto ;
padding: auto;
background-color: rgb(105, 105, 105);
}
.well p{
color: white;
}
.well b{

    color: rgb(85, 165, 185);
}
.btn-default{
    border-radius: 7px;
}
.page-header{

    background-color:rgb(37, 37, 37);
    border-radius: 10px;
    text-align-last: center;
}
h3{
padding-bottom: 5px;
padding-top: 5px;
    color: white;
    text-align: center;
  
}
div{

    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  
    
}

div .Amury{
     margin-top: -35px ;
     padding:20px;
     size: 50px;
     background:none;
     color: rgb(214, 214, 214);
     
 }
 .Amuery-body{
     margin-top:-70px;
     padding-right: 10px;
     background:rgb(59, 59, 59);
 }
 p{
     padding:10px;
     margin-right: 60px;
     color: white;
 }
 a {
margin-top: -20px;
margin-left: 10px;
 }
 a.btn-xs.btn-default{
    margin-bottom:-85px;
 }