
html{margin:10px;}

body{
background-color: #000000;
margin: auto
}
div.container{
    
    background-color: rgb(37, 37, 37)l;
   margin:auto ;
margin-top:10px

}
a.btn.btn-sm.btn-defaul{
   margin-top:100px
   marign-right:100px
    }
.container a{
    margin-bottom: 5px;
}
.header_color {
    background-color: rgb(37, 37, 37);
    text-align-last: center;
   border-radius: 10px;
   width: 60%;
 margin:auto
}
.header_color h3{
    color: #ffffff;
}
 .container p{

    margin-top: -20px;
 }
 div a.btn[

 ]
.header_color:hover {
    background-color: rgb(37, 37, 37);
}
div.btn{
    background-color: rgb(255, 255, 255);
    text-align:center;
    width: 100px;
    margin-top: 200px;
  margin-bottom:1px;
}
.well{
border-radius: 5px;
margin:auto ;
padding: auto;
background-color: rgb(105, 105, 105);
}
.well p{
color: white;
}
.well b{

    color: rgb(85, 165, 185);
}
.btn-default{
    border-radius: 7px;
    
}
.page-header{

    background-color:rgb(37, 37, 37);
    border-radius: 10px;
    text-align-last: center;
}
h3{
padding-bottom: 5px;
padding-top: 5px;
    color: white;
    text-align: center;
    margin-left:-11px;
  
}
div{

    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  
    
}

div .Amury{
     margin-top: -35px ;
     padding:20px;
     size: 50px;
     background:none;
     color: rgb(214, 214, 214);
     
 }
 .Amuery-body{
     margin-top:-70px;
     padding-right: 10px;
     background:rgb(59, 59, 59);
     margin-righ;t:10px
     margin:auto
 }
 p{
     padding:auto;
 margin-bottom: -10px;
     color: white;
     padding-top:10px;
   align-items: center;
  margin-left:10px;
     
 }
 a {
margin-top: -20px;
margin-left: 10px;
 }
   a.btn-xs.btn-default{
    margin-bottom:-85px;
 }
.btn.btn-sm.btn-default{
    margin: auto;
    margin-bottom:10px;
    margin-top:10px

}